In [3]:
#This is a print statement
#print("Hello, World") #This is hello world
print("My First Class")

My First Class

In [6]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Variables

In [7]:
ade = 12

b = 29
c = 40

z = ade +b+ c
print(z)

81

In [10]:
a = "bolu"
b = 'sola'

b = True
c = False

x = 5
print(type(c))

<class 'bool'>

In [14]:
x = int(1)
y = int(2.8)
z = int ("3")

print (x)
print (y)
print (z)
print (type(x))
print (type(y))
print (type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
x = float(1)
y = float(2.8)
z = float("3")
w = float ("4.2")
print (x)
print (y)
print (z)
print (w)
print (type(x))
print (type(y))
print (type(z))
print (type(w))

1.0
2.8
3.0
4.2
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
x = str("s1") # x will be "s1"
y = str (2)   # y will be "2"
z = str(3.0) # z will be "3.0"
print (x)
print (y)
print (z)
print (type(x))
print (type(y))
print (type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
a = "hello"
b = "world"
c = a + b

print (c)

hello
world
helloworld
<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
print (10>9)
print (10==9)
print (10<9)

True
False
False

In [21]:
a = 3%2
print (a)

1

In [22]:
a = 3**2
print (a)

9

In [23]:
a = 9//3
print (a)

3

In [24]:
a = 1
a+=5

print(a)

6

In [1]:
a = 5
a-=2
print (a)

3

In [26]:
a = 2
a*=2
print (a)

4

In [27]:
a = 6
a/=2
print (a)

3.0

In [2]:
a=9
a%=2
print (a)

1

In [29]:
a=9
a//=3
print (a)

3

In [30]:
a=2
a**=4
print (a)

16

In [39]:
a=2
b=5
c = a >= b
print (c)

False

In [41]:
x=4
print (x<5 and x>3)

True

In [43]:
x=6
print (x<7 or x>8)

True

In [44]:
x=5
print(not(x<6 and x>4))

False

In [47]:
a = float(input("Enter a number "))

a += 5
print(a)

Enter a number 4
9.0

In [ ]:
a = 4
b = 5
c = 6

z = (a+b+c)/3
print(z)

In [63]:
a=512
b=282
c=(a-b)
print(c)
x=47*48
y=5
z=(x+y)
print (z)
q=(c/z)
print (q)

230
2261
0.1017249004865104

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))

z = (a+b+c)/3
print (z)

In [ ]:
a= int(input("enter a number:))
b= int(input("enter a number"))
c= int(input("enter a number"))

total=(a+b+c)
print(total)
average= (a+b+c)/2
print (average)

In [83]:
a=int(input("price of meal"))
b=int(input("enter a tip"))
tip= ((b/100)*a)
print (tip)
total= (tip+a)
print(total)

price of meal500
enter a tip10
50.0
550.0

In [79]:
kilogram=int(input("weight in kilogram"))
pounds=2.2 * kilogram

print(pounds)

weight in kilogram5
11.0

In [ ]:
x=int(input("ënter a number:"))